/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "ATSurt-Light";
  src: url("./fonts/ATSurtLight.eot"); /* IE9 Compat Modes */
  src: url("./fonts/ATSurtLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/ATSurtLight.otf") format("opentype"), /* Open Type Font */
    url("./fonts/ATSurtLight.svg") format("svg"), /* Legacy iOS */
    url("./fonts/ATSurtLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/ATSurtLight.woff") format("woff"), /* Modern Browsers */
    url("./fonts/ATSurtLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}